<html lang='en'>

<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client1.js'></script>
</head>


<body>

<div>
    <div class='center'>
        <div class='title'>Classify Positive 👍 vs Negative Phrases 👎</div>
        <p>
            Would you like to know whether a tweet is <strong>positive</strong> or <strong>negative</strong>?  Try it here !!!!  
        </p>
        <div class='content'>
            <div class='no-display'>
                <!---input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this) ---> 
            </div>

            <form class='choose-file-button' type='text'>    

            	<input id="reviewText" type="text" name="firstname" value="Type here your phrase">

            </form>  
 

            <div class='analyze'>

                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Get sentiment</button>

            </div>

            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>